pandas==2.1.4
beautifulsoup4
transformers==4.53.3
qwen_vl_utils
accelerate
datasets
requests
pymupdf4llm
pymupdf
layoutparser
SQLAlchemy==1.4.54
git+https://github.com/facebookresearch/detectron2.git@ff53992b1985b63bd3262b5a36167098e3dada02
chonkie[all]
lxml
pgvector
colpali-engine>=0.3.0
pytest
docker
openpyxl
model2vec
psycopg2
pytesseract
scikit-learn
openai
jsonschema
certifi